html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Serif, serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: black;

}

.np-story,
.np-header,
.np-footer {
    background-color: white;

}

.np-story-body {
    padding: 1rem;
}

.np-story img {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 1rem;

}

.np-story,
.np-header,
.np-sidebar,
.np-story {
    margin-bottom: 1rem;

}

.np-story:last-child {
    margin-bottom: 0;
    border-bottom: black 2px;
    border-top: black 2px;
}

.np-header {
    text-align: center;
    border-bottom: black 2px;
    border-top: black 2px;
    }

.np-footer ul {
    list-style: none;
    padding: 0;
}

.np-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 1000px) {
    .np-container {
        display: flex;
        flex-direction: column;

    }
}

@media only screen and (min-width: 1001px) {
    .np-container {
        display: flex;
        flex-wrap: wrap;
    }

    .np-header,
    .np-footer {
        width: 100%;
    }

    .np-content {
        flex: 2;
        margin-right: 1rem;
        padding: 1rem;
        margin-left: 1rem;
    }

    .np-content {
        display: flex;
        flex-wrap: wrap;
    }

    .np-sidebar {
        flex: 1;
        margin-right: 1rem;
    }
}
